* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* text-shadow: 1px 1px 2px #5e503f; */
  /* border: 0.1px solid black; */
}

html {
  scroll-behavior: smooth;
}

h1 {
  /* color: #00416a; */
  color: #e4e5e6;
  /* color: #7ebc89; */
  /* text-shadow: 1px 1px 1px #5e503f; */
  text-shadow: 2px 2px 2px #5e503f;
  /* color: #5e503f; */
  /* color: #2a3d45; */
  /* border: 0.5px solid #00416a; */
}
main {
  flex-direction: column;
  justify-content: space-between;
  /* color: #e4e5e6; */
  /* color: #00416a; */
  /* color: #606c38; */
  /* color: #3a5a40; */
  /* color: #fca311; */
  /* color: #e07a5f; */
  /* color: #4a7c59; */
  /* color: #5e503f; */
  /* color: #735751; */
  /* color: #2a3d45; */
  /* color: #5e503f; */
  /* color: #7f5539; */
  font-weight: bold;
}

h2 {
  margin: auto;
  width: 250px;
  text-align: center;
  color: #e4e5e6;
  text-shadow: 2px 2px 2px #5e503f;
}

.slant-view {
  width: 100%;
  height: 79vh;
  margin-bottom: 150px;
  transform: skewY(-11deg);
  /* border: 1px solid red; */
  background: #00416a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e4e5e6,
    #00416a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e4e5e6,
    #00416a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fix-view {
  transform: skewY(11deg);
}

.flex {
  display: flex;
}

.border {
  border-radius: 12px;
  padding: 7px;
}

.btn {
  background-color: #e4e5e6;
  color: #00416a;
  /* transition-duration: 0.2s; */
  border: hidden;
}

/* #inform-card:hover, */
.btn:hover {
  background-color: #00416a;
  color: #e4e5e6;
  transform: scale(1.02);
  box-shadow: 0 0 2px black;
}

.links-wrapper {
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.backgrd-obj {
  position: absolute;
  height: auto;
  width: 150px;
}

#landing {
  width: 100%;
}

#inform {
  width: 55%;
  flex-direction: column;
  justify-content: center;
  /* justify-content: flex-start; */
  align-items: center;
  /* margin-right: -300px; */
}

#inform-card {
  flex-direction: column;
  justify-content: space-around;
  transition-duration: 0.2s;
  width: 500px;
  height: 160px;
  margin-right: -350px;
}

#inform-card div img {
  height: 40px;
  width: auto;
}

#inform-card p {
  font-weight: bold;
  /* color: #5e503f; */
  color: #e4e5e6;
  /* text-shadow: 2px 2px 2px #5e503f; */
  text-shadow: 1px 1px 1px #5e503f;
  /* background-color: rgba(228, 229, 230, 0.4); */
  /* color: #7f5539; */
  /* color: #2a3d45; */
  /* color: #00416a; */
}

#objs {
  align-items: center;
}

#objs img {
  padding: 0;
  margin: 0;
}
#inform-card:hover {
  box-shadow: 10px 10px 15px black;
  transform: scale(1.01);
}

#img-buttons:hover {
  box-shadow: 10px 10px 15px black;
}

@keyframes stack-travel {
  0% {
    transform: translate(38vw, -10vh);
  }
  100% {
    transform: translate(2vw, -10vh);
  }
}
@keyframes graph-travel {
  0% {
    transform: translate(38vw, 0);
  }
  100% {
    transform: translate(2vw, 20vh);
  }
}
@keyframes array-travel {
  0% {
    transform: translate(38vw, 5vh);
  }
  100% {
    transform: translate(2vw, 30vh);
  }
}

@keyframes tree-travel {
  0% {
    transform: translate(38vw, -25vh);
  }
  100% {
    transform: translate(2vw, 40vh);
  }
}
@keyframes tree-travel2 {
  0% {
    transform: translate(38vw, -25vh);
  }
  100% {
    transform: translate(2vw, -10vh);
  }
}

@keyframes neurons-travel {
  0% {
    transform: translate(38vw, 30vh);
  }
  100% {
    transform: translate(2vw, 30vh);
  }
}

@keyframes matrix-travel {
  0% {
    transform: translate(38vw, 25vh);
  }
  100% {
    transform: translate(2vw, -30vh);
  }
}
@keyframes linked-list-travel {
  0% {
    transform: translate(38vw, 0vh);
  }
  100% {
    transform: translate(2vw, -20vh);
  }
}

@keyframes data-travel {
  0% {
    transform: translate(38vw, 0vh);
  }
  100% {
    transform: translate(2vw, -10vh);
  }
}

#array {
  animation: 65s linear 0s infinite normal array-travel;
}
#stack {
  animation: 80s linear 0s infinite normal stack-travel;
}
#tree {
  animation: 50s linear 0s infinite normal tree-travel;
}
#tree2 {
  animation: 60s linear 0s infinite normal tree-travel2;
}
#neurons {
  animation: 100s linear 0s infinite normal neurons-travel;
}
#matrix {
  animation: 130s linear 0s infinite normal matrix-travel;
}
#linked-list {
  animation: 60s linear 0s infinite normal linked-list-travel;
}
#graph {
  animation: 150s linear 0s infinite normal graph-travel;
}
#data {
  animation: 60s linear 0s infinite normal data-travel;
}

/* DONEEEEEEEE LANDING */

/* START ABOUT ME */

.main-wrapper {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
  height: 620px;
}

#about-me-wrapper {
  width: 87%;
  justify-content: space-around;
  /* justify-content: space-between; */
  align-items: center;
  height: 500px;
}

#about-me-wrapper div {
  align-items: center;
}

#profile {
  width: 26%;
}

#profile img {
  max-width: 500px;
  max-height: 450px;
  border-radius: 12px;
}

#img-buttons {
  width: 23%;
  justify-content: space-around;
  transition-duration: 0.2s;
}

#img-buttons img {
  width: 80px;
  height: 90px;
}

#para {
  width: 45%;
  /* color: #e4e5e6; */
  /* background-color: #e4e5e6; */
  /* background-color: rgba(228, 229, 230, 0.3); */
  /* background-color: rgba(94, 80, 63, 0.5); */
  /* background-color: rgba(228, 229, 230, 0.4); */
  /* background-color: rgba(94, 80, 63, 0.1); */
}

#para p {
  color: #e4e5e6;
  text-align: center;
  /* text-shadow: 2px 2px 2px #e4e5e6; */
  text-shadow: 1px 1px 1px #5e503f;
  /* text-shadow: 2px 2px 2px #5e503f; */
  /* color: #5e503f; */
}

/* PROJECT */

#projects-wrapper {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card {
  align-items: center;
  flex-direction: column;
  width: 19%;
  height: 500px;
  transition-duration: 0.2s;
  border-radius: 12px;
  justify-content: space-between;
}

.card h3 {
  color: #e4e5e6;
  text-shadow: 2px 2px 3px #5e503f;
  /* background-color: #e4e5e6; */
  /* background-color: rgba(228, 229, 230, 0.3); */
  /* background-color: rgba(94, 80, 63, 0.5); */
  border-radius: 12px;
  padding: 7px;
  /* color: #5e503f; */
  /* color: #00416a; */
  font-weight: bold;
}

.card:hover {
  box-shadow: 10px 10px 15px black;
  transform: scale(1.01);
}

.project-image {
  padding: 0;
  width: 100%;
  height: 50%;
  border-radius: 12px;
}

.project-description {
  border-radius: 12px;
  /* background-color: #e4e5e6; */
  /* color: #e4e5e6; */
  /* background-color: rgba(228, 229, 230, 0.4); */
  /* background-color: rgba(94, 80, 63, 0.2); */
  height: auto;
}

.project-description p {
  padding: 7px;
  width: 90%;
  /* color: #00416a; */
  /* color: #5e503f; */
  /* 7f5539 */
  text-align: center;
  color: #e4e5e6;
  text-shadow: 1px 1px 2px #5e503f;
  /* text-shadow: 2px 2px 2px #5e503f; */
}

/* EDUCATION SKILLS */

h4 {
  color: #e4e5e6;
  text-shadow: 2px 2px 2px #5e503f;
  /* background-color: #e4e5e6; */
  /* background-color: rgba(228, 229, 230, 0.3); */
  /* background-color: rgba(94, 80, 63, 0.5); */
  padding: 7px;
  border-radius: 12px;
}

.tools-card {
  width: 90px;
  height: 90px;
  flex-direction: column;
  margin-left: 26px;
  margin-right: 26px;
  /* text-align: center; */
  /* justify-content: center; */
  /* margin: auto; */
}

.tools-card p {
  color: #e4e5e6;
  text-align: center;
  text-shadow: 2px 2px 3px #5e503f;
}

.tools-card img {
  height: 60px;
  width: 60px;
  margin: auto;
}

.education-card {
  width: auto;
  height: auto;
  align-items: center;
  justify-content: space-between;
}

.education-card img {
  height: 80px;
  width: 80px;
  /* border-radius: 40px; */
  /* width: auto; */
}
#education {
  width: 35%;
  height: 100%;
  justify-content: space-around;
  align-items: left;
  flex-direction: column;
}

#education-wrapper {
  justify-content: space-around;
  align-items: center;
  height: 500px;
  width: 100%;
}

#tools {
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 100%;
  flex-wrap: wrap;
}

.space-around-center {
  justify-content: space-around;
  align-items: center;
}

/* .education-wrapper div img:hover { */
/* transform: scale(2.01); */
/* } */
