* {
  margin: 0px;
  box-sizing: border-box;
  color: #00416a;
  border: 1px solid black;
}

html {
  scroll-behavior: smooth;
}

main {
  flex-direction: column;
}

body {
  flex-direction: column;
  background-color: #dfe1e5;
}

h2 {
  color: #dfe1e5;
  /* transform: skewY(11deg); */
  /* margin-left: auto; */
  /* / margin-right: auto; */
  /* width: 500px; */
}

.border {
  border-radius: 12px;
  padding: 7px;
}

.btn {
  background-color: #dfe1e5;
  color: #00416a;
  transition-duration: 0.2s;
  border: hidden;
  /* border: transparent; */
}

.btn:hover {
  background-color: #00416a;
  color: #dfe1e5;
  transform: scale(1.02);
  box-shadow: 0 0 2px black;
  /* border: 0.01px solid black; */
}

.flex {
  display: flex;
}

.view {
  border: 1px solid red;
  width: 100%;
  height: 77vh;
  margin-bottom: 185px;
  margin-top: 10px;
  transform: skewY(-11deg);
  background: #00416a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e4e5e6,
    #00416a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e4e5e6,
    #00416a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* FIRST SECTION - LANDING SECTION */

#landing-section {
}

#introduction-wrapper {
  /* transform: skewY(-11deg); */
  width: 55%;
  /* padding-top: 200px; */
  justify-content: center;
  align-items: center;
  transform: skewY(11deg);
}

#card-wrapper {
  /* transform: skewY(11deg); */
  flex-direction: column;
  justify-content: space-around;
  margin-right: -100px;
  width: 40%;
  height: 170px;
  padding: 10px;
  transition-duration: 0.2s;
  /* z-index: 1; */
}

#card-wrapper:hover {
  box-shadow: 10px 10px 15px black;
  transform: scale(1.01);
}
#about-me-btn-wrapper:hover {
  box-shadow: 10px 10px 15px black;
  transform: scale(1.01);
}
.card:hover {
  box-shadow: 10px 10px 15px black;
  transform: scale(1.01);
}

.links-wrapper {
  justify-content: space-between;
  align-items: center;
}

#backgrd-obj-wrapper {
  width: 45%;
  align-items: center;
}

@keyframes stack-travel {
  0% {
    transform: translate(38vw, -30vh);
  }
  100% {
    transform: translate(2vw, -10vh);
  }
}
@keyframes graph-travel {
  0% {
    transform: translate(38vw, -30vh);
  }
  100% {
    transform: translate(2vw, 0vh);
  }
}
@keyframes array-travel {
  0% {
    transform: translate(38vw, -15vh);
  }
  100% {
    transform: translate(2vw, 0vh);
  }
}

@keyframes tree-travel {
  0% {
    transform: translate(38vw, -25vh);
  }
  100% {
    transform: translate(2vw, -10vh);
  }
}

@keyframes neurons-travel {
  0% {
    transform: translate(38vw, -5vh);
  }
  100% {
    transform: translate(2vw, 5vh);
  }
}

@keyframes matrix-travel {
  0% {
    transform: translate(38vw, 15vh);
  }
  100% {
    transform: translate(2vw, 20vh);
  }
}
@keyframes linked-list-travel {
  0% {
    transform: translate(38vw, 25vh);
  }
  100% {
    transform: translate(2vw, 30vh);
  }
}

@keyframes data-travel {
  0% {
    transform: translate(38vw, 35vh);
  }
  100% {
    transform: translate(2vw, 35vh);
  }
}

.backgrd-obj {
  position: absolute;
  height: auto;
  width: 150px;
}
/* .backgrd-obj img { */
/* margin: 0; */
/* padding: 0; */
/* } */

#array {
  animation: 65s linear 0s infinite normal array-travel;
}
#stack {
  animation: 80s linear 0s infinite normal stack-travel;
}
#tree {
  animation: 90s linear 0s infinite normal tree-travel;
}
#neurons {
  animation: 100s linear 0s infinite normal neurons-travel;
}
#matrix {
  animation: 130s linear 0s infinite normal matrix-travel;
}
#linked-list {
  animation: 80s linear 0s infinite normal linked-list-travel;
}
#graph {
  animation: 150s linear 0s infinite normal graph-travel;
}
#data {
  animation: 60s linear 0s infinite normal data-travel;
}
/* END OF FIRST SECTION - LANDING SECTION */

/* START OF SECOND SECTION - ABOUT ME SECTION */
.about-me-main-wrapper {
  flex-direction: column;
  transform: skewY(11deg);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  align-items: center;

  /* margin-top: -120px; */
}

.about-me-content-wrapper {
  justify-content: space-around;
  align-items: center;
  margin-top: -300px;
  width: 100%;
  /* height: auto; */
}

#profile-img-wrapper {
  width: 28%;
  height: 500px;
}

#profile-img {
  height: 100%;
  width: auto;
}

#tracker-img {
  height: auto;
  width: 60px;
}

#about-me-btn-wrapper {
  /* display: inline-block; */
  width: 12%;
  justify-content: space-around;
  align-items: center;
  transition-duration: 0.2s;
  /* border: hidden; */
  /* position: relative; */
  /* z-index: 15; */
}

#about-me-description-wrapper {
  width: 36%;
  border: hidden;
  /* box-shadow: 10px 10px 15px black; */
}

#about-me-description-wrapper p {
  color: #00416a;
  text-align: center;
}

/* START PROJECT DESIGN */

#projects-wrapper {
  flex-direction: column;
  transform: skewY(11deg);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  align-items: center;
  margin-top: -120px;
  /* position: relative; */
}

#projects-content-wrapper {
  justify-content: space-around;
  align-items: center;
  /* margin-top: -300px; */
}

.card {
  align-items: center;
  flex-direction: column;
  width: 290px;
  height: 500px;
  transition-duration: 0.2s;
  border-radius: 12px;
  /* justify-content: space-around; */
  /* justify-content: space-between; */
}

.card h4 {
  background-color: #dfe1e5;
  border-radius: 12px;
  padding: 7px;
}

.project-image {
  padding: 0;
  width: 100%;
  height: 50%;
  border-radius: 12px;
}

.project-description {
  /* background-color: #00416a; */
  border-radius: 12px;
  background-color: #dfe1e5;
  height: auto;
}
.project-description p {
  width: 90%;
  color: #00416a;
  text-align: center;
  /* color: #dfe1e5; */
}

/* .special-card p { */
/* color: #00416a; */
/* } */
