* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 0.5px solid black; */
}

.border-style {
  border-radius: 10px;
  padding: 7px;
  /* box-shadow: 10px 5px 15px black; */
}

.button-style {
  background-color: #dfe1e5;
  transition-duration: 0.2s;
  border: hidden;
  border: transparent;
}

.button-style:hover {
  transform: scale(1.05);
  border: 0.01px solid black;
}

.links-style {
  height: 25px;
  width: 25px;
  transition-duration: 0.2s;
}

.links-style:hover {
  transform: scale(1.1);
}

.flex-style {
  display: flex;
  justify-content: space-between;
}

#landing-wrapper {
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6dd5fa,
    #6dd5fa,
    #ffffff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6dd5fa,
    #6dd5fa,
    #ffffff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 100%;
  height: 100vh;
  padding: 40vh;
  align-items: center;
  /* height: 100%; */
}

#introduction-wrapper:hover {
  transform: scale(1.01);
  box-shadow: 10px 10px 20px darkslategrey;
}

#introduction-wrapper {
  transition-duration: 0.2s;
  width: 360px;
  height: 130px;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  margin-right: 700px;
  margin-top: -330px;
}

#introduction-button-wrapper {
  width: 48%;
48
}

#links-wrapper {
  width: 40%;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: space-around;
  align-items: center;
}

/* #2980b9, */
